.country-details{
    .country-details__info-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 3rem;
        // margin-inline: -2rem;
    }

    .country-details__section{
        width: 100%;
        // padding-inline: 2rem;
    }

    .country-details__section_info{
        padding-block: 2rem;
    }

    .country-details__image{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: center;
    }
    
    .country-details__details-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .country-details__title{
        margin-bottom: 1.5rem;
    }
    .country-details__text{
        margin-bottom: 0.5rem;
    }

    .country-details__info_secondary{
        margin-top: 2rem;
    }

    .country-details__border-container{
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-top: 2rem;
    }
    .country-details__border-details{
        display: flex;
        flex-wrap: wrap;
    }
    .country-details__border-text{
        margin-bottom: 1rem;
        width: 100%;
    }

    .country-details__button_border{
        // margin-inline: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .country-details__light-mode-shadow{
        box-shadow: $lightMode_shadow;
    }
    .country-details__dark-mode-shadow{
        box-shadow: $darkMode_shadow;
    }

    .country-details__text__light{
        color: $lightMode_text;
    }
    .country-details__text__dark{
        color: $darkMode_text;
    }
}

@media (min-width: 1024px) {
    .country-details{
        .country-details__info-container{
            flex-direction: row;
            margin-inline: -2rem;
        }
    
        .country-details__section{
            width: 50%;
            padding-inline: 2rem;
        }
    
        .country-details__details-info{
            flex-direction: row;
        }
        .country-details__border-container{
            flex-direction: row;
        }
    
        .country-details__border-text{
            margin-right: 0.5rem;
            margin-bottom: unset;
            width: 50%;
        }
        .country-details__info_secondary{
            margin-top: unset;
        }
        .country-details__image{
            height: 20rem;
        }
    }
}