.filter{
  .filter__inner{
    @include center;
    justify-content: space-between;
  }

  .filter__container{
    width: 50%;
    display: flex;
    align-items: center;
  }

  .filter__container_input{
    position: relative;
    justify-content: flex-start;

  .filter__form{
    position: absolute;
    width: 70%;
  }

    .filter__input{
      padding: 0.7rem 1rem 0.7rem 3rem;
      border-radius: 0.3rem;
      border: none;
      width: 100%;
      box-shadow: $lightMode_shadow;
    }

    .filter__icon{
      @include center;
      position: absolute;
      z-index: 1;
      font-size: 1rem;
    }

    .filter__icon_position_left{
      margin-left: 1rem;
    }
  }

  .filter__container_select{
    justify-content: flex-end;

    .filter__select{
      padding: 0.7rem 1rem 0.7rem 1rem;
      border-radius: 0.3rem;
      border: none;
      box-shadow: $lightMode_shadow;
    }
  }

}
