.filter{
  .filter__inner{
    @include center;
    flex-direction: column;
    justify-content: space-between;
  }

  .filter__container{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .filter__container_input{
    position: relative;
    justify-content: flex-start;
    margin-bottom: 2rem;

  .filter__form{
    position: unset;
    width: 100%;
  }

    .filter__input{
      padding: 0.7rem 1rem 0.7rem 3rem;
      border-radius: 0.3rem;
      border: none;
      width: 100%;
    }
    .filter__input__light{
      background: $lightMode_elements;
      color: $lightMode_text;
    }
    .filter__input__dark{
      background: $darkMode_elements;
      color: $darkMode_text;
    }
    .filter__input__shadow-light{
      box-shadow: $lightMode_shadow;
    }
    .filter__input__shadow-dark{
      box-shadow: $darkMode_shadow;
    }

    .filter__icon{
      @include center;
      position: absolute;
      z-index: 1;
      font-size: 1rem;
    }
    .filter__icon__light{
      color: $lightMode_text
    }
    .filter__icon__dark{
      color: $darkMode_text
    }
    .filter__icon_position_left{
      margin-left: 1rem;
    }
  }

  .filter__container_select{
    justify-content: flex-start;

    .filter__select{
      padding: 0.7rem 1rem 0.7rem 1rem;
      border-radius: 0.3rem;
      border: none;
    }

    .filter__select__light{
      background: $lightMode_elements;
      color: $lightMode_text;
    }

    .filter__select__dark{
      background: $darkMode_elements;
      color: $darkMode_text;
    }

    .filter__select__shadow-light{
      box-shadow: $lightMode_shadow;
    }

    .filter__select__shadow-dark{
      box-shadow: $darkMode_shadow;
    }

  }

}

@media (min-width: 768px) {
  .filter{
    .filter__inner{
      flex-direction: row;
    }
    .filter__container{
      width: 100%;
    }
    .filter__container_input{
      margin-bottom: unset;

      .filter__form{
        position: absolute;
        width: 70%;
      }
    }
    .filter__container_select{
      justify-content: flex-end;
    }
  }
}