.header{
  @include center;
  height: 3.5rem;

  .header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .header__button{
    display: none;
  }

  .header__button_visible{
    display: flex;
  }
  .theme-button__icon,
  .theme-button__text{
    pointer-events: none;
  }
  .header__title__mode-light{
    color: $lightMode_text;
  }
  .header__title__mode-dark{
    color: $darkMode_text;
  }
}

.header_mode_light{
  background: $lightMode_elements;
  box-shadow: $lightMode_shadow;
}
.header_mode_dark{
  background: $darkMode_elements;
  box-shadow: $darkMode_shadow;
}