/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/index.scss ***!
  \***************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap);
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/index.scss (1) ***!
  \*******************************************************************************************************************/
* {
  box-sizing: border-box; }

html,
body,
ul,
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: unset; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px; }

.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  height: fit-content; }
  .theme-button .theme-button__icon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.theme-button_mode_light {
  background: white;
  color: #111517; }

.theme-button_mode_dark {
  background: #2b3945;
  color: white; }

.theme-button__light-mode-shadow {
  box-shadow: 0 0 10px #e0e0e0; }

.theme-button__dark-mode-shadow {
  box-shadow: 0 0 10px #0d1216; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem; }
  .header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; }
  .header .header__button {
    display: none; }
  .header .header__button_visible {
    display: flex; }
  .header .theme-button__icon,
  .header .theme-button__text {
    pointer-events: none; }
  .header .header__title__mode-light {
    color: #111517; }
  .header .header__title__mode-dark {
    color: white; }

.header_mode_light {
  background: white;
  box-shadow: 0 0 10px #e0e0e0; }

.header_mode_dark {
  background: #2b3945;
  box-shadow: 0 0 10px #0d1216; }

.main {
  padding: 3rem 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .main__inner {
    width: 90%; }

.main_mode_light {
  background: #fafafa; }

.main_mode_dark {
  background: #202c37; }

.filter .filter__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.filter .filter__container {
  width: 100%;
  display: flex;
  align-items: center; }

.filter .filter__container_input {
  position: relative;
  justify-content: flex-start;
  margin-bottom: 2rem; }
  .filter .filter__container_input .filter__form {
    position: unset;
    width: 100%; }
  .filter .filter__container_input .filter__input {
    padding: 0.7rem 1rem 0.7rem 3rem;
    border-radius: 0.3rem;
    border: none;
    width: 100%; }
  .filter .filter__container_input .filter__input__light {
    background: white;
    color: #111517; }
  .filter .filter__container_input .filter__input__dark {
    background: #2b3945;
    color: white; }
  .filter .filter__container_input .filter__input__shadow-light {
    box-shadow: 0 0 10px #e0e0e0; }
  .filter .filter__container_input .filter__input__shadow-dark {
    box-shadow: 0 0 10px #0d1216; }
  .filter .filter__container_input .filter__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 1rem; }
  .filter .filter__container_input .filter__icon__light {
    color: #111517; }
  .filter .filter__container_input .filter__icon__dark {
    color: white; }
  .filter .filter__container_input .filter__icon_position_left {
    margin-left: 1rem; }

.filter .filter__container_select {
  justify-content: flex-start; }
  .filter .filter__container_select .filter__select {
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 0.3rem;
    border: none; }
  .filter .filter__container_select .filter__select__light {
    background: white;
    color: #111517; }
  .filter .filter__container_select .filter__select__dark {
    background: #2b3945;
    color: white; }
  .filter .filter__container_select .filter__select__shadow-light {
    box-shadow: 0 0 10px #e0e0e0; }
  .filter .filter__container_select .filter__select__shadow-dark {
    box-shadow: 0 0 10px #0d1216; }

@media (min-width: 768px) {
  .filter .filter__inner {
    flex-direction: row; }
  .filter .filter__container {
    width: 100%; }
  .filter .filter__container_input {
    margin-bottom: unset; }
    .filter .filter__container_input .filter__form {
      position: absolute;
      width: 70%; }
  .filter .filter__container_select {
    justify-content: flex-end; } }

.cards .cards_inner {
  padding-top: 3rem;
  margin-inline: -1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

@media (min-width: 768px) {
  .cards .cards_inner {
    flex-direction: row; } }

.card {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center; }
  .card .card__inner {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 1rem; }
  .card .card__image-container {
    width: 100%; }
  .card .card__image {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0; }
  .card .card__description {
    padding: 1rem; }
  .card .card__title {
    margin-bottom: 1rem; }
  .card .card__details {
    margin-bottom: 0.2rem; }

.card__inner__mode_light {
  background: white; }

.card__inner__mode_dark {
  background: #2b3945; }

.card__inner__shadow-light {
  box-shadow: 0 0 10px #e0e0e0; }

.card__inner__shadow-dark {
  box-shadow: 0 0 10px #0d1216; }

.cart__text__light {
  color: #111517; }

.cart__text__dark {
  color: white; }

@media (min-width: 1440px) {
  .card {
    width: 25%; }
    .card .card__image {
      height: 10rem; } }

@media (max-width: 1439px) and (min-width: 1024px) {
  .card {
    width: 33.33%; }
    .card .card__image {
      height: 13rem; } }

@media (max-width: 1023px) and (min-width: 768px) {
  .card {
    width: 33.33%; }
    .card .card__image {
      height: 7rem; } }

.country-details .country-details__info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem; }

.country-details .country-details__section {
  width: 100%; }

.country-details .country-details__section_info {
  padding-block: 2rem; }

.country-details .country-details__image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center; }

.country-details .country-details__details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.country-details .country-details__title {
  margin-bottom: 1.5rem; }

.country-details .country-details__text {
  margin-bottom: 0.5rem; }

.country-details .country-details__info_secondary {
  margin-top: 2rem; }

.country-details .country-details__border-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem; }

.country-details .country-details__border-details {
  display: flex;
  flex-wrap: wrap; }

.country-details .country-details__border-text {
  margin-bottom: 1rem;
  width: 100%; }

.country-details .country-details__button_border {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; }

.country-details .country-details__light-mode-shadow {
  box-shadow: 0 0 10px #e0e0e0; }

.country-details .country-details__dark-mode-shadow {
  box-shadow: 0 0 10px #0d1216; }

.country-details .country-details__text__light {
  color: #111517; }

.country-details .country-details__text__dark {
  color: white; }

@media (min-width: 1024px) {
  .country-details .country-details__info-container {
    flex-direction: row;
    margin-inline: -2rem; }
  .country-details .country-details__section {
    width: 50%;
    padding-inline: 2rem; }
  .country-details .country-details__details-info {
    flex-direction: row; }
  .country-details .country-details__border-container {
    flex-direction: row; }
  .country-details .country-details__border-text {
    margin-right: 0.5rem;
    margin-bottom: unset;
    width: 50%; }
  .country-details .country-details__info_secondary {
    margin-top: unset; }
  .country-details .country-details__image {
    height: 20rem; } }

